@model ProductAllViewModel

@{
    double rating = 0.0;
    if (Model.Rating > 0)
    {
        rating = (double)Model.Rating / (double)Model.RatingCount;
    }
}

<style>

    .cardLink {
        opacity: 1;
        transition: opacity 0.5s;
    }

        .cardLink:hover {
            opacity: 0.65;
        }
</style>

<a asp-area="" asp-controller="Product" asp-action="Info" asp-route-id="@Model.Id" class="cardLink" style="text-decoration: none; color: inherit;">
    <div class="card" style="width: 22rem; height: auto;">
        <img src="@Model.ImageURL" class="card-img-top" alt="..." style="width: auto; height: 18rem;">
        <div class="card-img-overlay">
            <h5 style="color: lawngreen;" class="fw-bolder text-end">Наличен</h5>
        </div>
        <div class="card-body" style="background-color: #E8E8E8;">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"><b>@Model.Price лв.</b></p>
        </div>
        <ul class="list-group list-group-flush" style="background-color: #E8E8E8;">
            @if (rating > 0 && rating < 1.50)
            {
                <div class="d-flex p-1 gap-2">
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                </div>
            }
            else if (rating >= 1.50 && rating < 2.50)
            {
                <div class="d-flex p-1 gap-2">
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                </div>
            }
            else if (rating >= 2.50 && rating < 3.50)
            {
                <div class="d-flex p-1 gap-2">
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                </div>
            }
            else if (rating >= 3.50 && rating < 4.50)
            {
                <div class="d-flex p-1 gap-2">
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                </div>
            }
            else if (rating >= 4.50 && rating <= 5)
            {
                <div class="d-flex p-1 gap-2">
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                </div>
            }
            else
            {
                <h6 class="p-1 text-center">Продуктът все още не е оценен!</h6>
            }


        </ul>
    </div>
</a>