@model AllProductsQueryModel


@{
    ViewData["Title"] = "Discount products";
}

<div class="mt-3 text-center">
    <h1>Discount products</h1>
    <hr></hr>
</div>

<form method="get">
    <div class="d-flex justify-content-center gap-3 mt-3 mb-4">
        <div class="form-group d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group" style="width: 30rem;">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group ">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Най-висока цена</option>
                    <option value="1">Най-ниска цена</option>
                    <option value="2">Най-високо оценени</option>
                    <option value="3">Най-ниско оценени</option>
                </select>
            </div>
        </div>

        <div class="">
            <div class="form-group mt-4">
                <input type="submit" value="Search" style="width: 20rem;" class="btn btn-outline-dark btn-secondary px-5 searchButton text-white" />
            </div>
        </div>
    </div>
</form>

<div class="d-flex gap-5 flex-wrap" style="padding-left: 11em;">
    @foreach (var product in Model.Products)
    {
        <partial name="_ProductPartialView" model="@product" />
    }
</div>
